@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

//vars fonts

$mainFont: 'Permanent marker', sans-serif;
$secondaryfont:'Montserrat', sans-serif;
//sizes
$textSm:1.2rem;
$textMd:1.5rem;
$textLg:2rem;
//vars 
$mainColor: #770909;
$color1:  rgba(255, 0, 0, 0.719);
$color2: rgb(255, 0, 0);
$color3:#f5eded;
$color4:#000000;
$colorBorder:#922c2c;
$degrade: linear-gradient(to top, black, red);