<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Un proyecto que crece a pulmon y en cada tatuaje se transmite el valor y la labor de la artista ">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--mi css-->
        <link rel="stylesheet" href="../css/style.css">

        <title>Mi trayectoria</title>
  </head>
    <body class="body-1">
        <!--inicia nav-->
        <nav class="botonera navbar navbar-expand-md navbar-light bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="../index.html">MiLoNgA TT</a>
                <button class="navbar-toggler color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ul-lia">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../views/quienessomos.html">Quienes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  href=""   id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <li><a class="dropdown-item" href="../views/tattospinchados.html">Pinchados</a></li>
                                <li><a class="dropdown-item" href="../views/opcionesdeestampa.html">Bocetos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--termina nav-->
        <header>
            <div class="container-fluid">
                <h1 class="text-center">Quienes somos</h1> 
                <div class="row" id="selectorA">
                                  
                    <p class="col-sm-12 col-md-6 col-lg-3 p-lorem1 text-center" >Me presento mi nombre es Milagros, empece con este emprendimiento hace 3 años aproximadamente. A prueba y error y   a puro pulmon, en mi pieza probando con, frutas, goma eva y la piel de mi entorno. Hoy por hoy me considero muy profesional en lo que es mi trabajo como tataudora. Me interpela mucho la idea que trae cada uno de mis clientes, ya que es algo que se plasma de por vida en sus cuerpos. Si queres plasmarte uno de mis bocetos, mas que bienvenidx. En la seccion contacto, o en el pie de pagina vas a poder encontrar mis redes y la manera de contactarme. </p>
                    
                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-sm-12 col-md-4 " >
                        <img src="../recursos/img/inverso.png" alt="Boceto de mandala " class="w-100 py-3" >
                            

                    </div>
                    <div class="col-sm-12 col-md-4">    
                        <video  src="../recursos/img/florornamentalvideo.mp4" controls="" class="w-75 py-2 m-5"> 
                                
                        </video>
                    </div> 
                    <div class="col-sm-12 col-md-4">
                            
                        <img src="../recursos/img/mandala pequeño.png" alt="boceto de mandala" class="w-100 py-3" >

                    </div>
                </div>
            </div>
        </main>
        <footer class=" footer bg-nav py-4 text-center">
            <div class="container-luid">
                <a href="../index.html" class="logo figure">MiLoNgA TT</a>
            </div>
            <a href="../https://www.facebook.com" target="_blank">
                <img src="../recursos/img/facebook.png" alt="" class="figure">
        
            </a>
            <a href="../https://instagram.com/milonga_tt/" target="_blank">
                <img src="../recursos/img/instagram.png" alt="" class="figure">
                
            </a>
            <a href="../https://www.tiktok.com" target="_blank">
                <img src="../recursos/img/tik-tok.png" alt="" class="figure">
            </a>
            <br>

        </footer>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
    </body>
</html>